<a href="https://colab.research.google.com/github/anjithakkamal/python/blob/main/python_cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# personal details
def personal_details():
    name, age = "Anjitha", 21
    address = "Sindhu Bhavan, Kerala, India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

Name: Anjitha
Age: 21
Address: Sindhu Bhavan, Kerala, India

In [ ]:
  #2 Display future leap years from current year to a final year entered by user
y = int(input("Enter the final year : "))
print("Future leap years from 2021 : ")
for x in range (2021 , y+1):
 if((x%4==0) and (x%100!=0)) or (x%400==0):
   print(x)

Enter the final year : 2030
Future leap years from 2021 :
2024
2028

In [ ]:
#3a Generate positive list of numbers from a given list of integers
mylist=[23 , 58 , -12 , 90 , -45 , 81 , 49 , -36] 
print("First list : ", mylist)
newlist=[x for x in mylist if x > 0]
print("New list : " ,newlist)

First list :  [23, 58, -12, 90, -45, 81, 49, -36]
New list :  [23, 58, 90, 81, 49]

In [ ]:
#3b Square of N numbers
mylist=[2 ,5 , 3 , 8]
print("First list : " ,mylist)
newlist=[number ** 2 for number in mylist]
print("New list : " ,newlist)

First list :  [2, 5, 3, 8]
New list :  [4, 25, 9, 64]

In [ ]:
#3cvowel
word = input("enter a word")
vowels= ['a', 'e', 'i', 'o', 'u']
list= []
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("vowel present in the given word is:",list)

enter a wordanjitha
vowel present in the given word is: ['a', 'i']

In [ ]:
#3d
a = input("enter the word")
for i in range (len(a)):
  print("ascii value is ",a[i], "is", ord(a[i]))

enter the wordword
ascii value is  w is 119
ascii value is  o is 111
ascii value is  r is 114
ascii value is  d is 100

In [ ]:
#4 word count
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts
print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [ ]:
##5. Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.
#5
x = []
n = int(input("enter any integers:"))
for i in range(1, n+1):
  a = int(input())
  if (a>100):
    x.append('over')
  else:
     x.append(a)
print("modified list:", x)

enter any integers:4
100
500
200
300
modified list: [100, 'over', 'over', 'over']

In [ ]:
##6Store a list of first names. Count the occurrences of ‘a’ within the list
a_list = ["a", "b", "a"]
occurrences = a_list.count("a")
print(occurrences)

2

In [ ]:
##7Enter 2 lists of integers. Check (a) Whether list are of same length (b) whether list sums to same value (c) whether any value occur in both
#7 a

list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first list is :" + str(list1))
print ("the second list is :" + str(list2))
l1 = len(list1)
l2 = len(list2)
print("length of list1 :", l1 , "and length of list2 :", l2)
if l1 == l2:
   print ("list are same length")
else :
    print ("list are of different length")

the first list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
length of list1 : 5 and length of list2 : 5
list are same length

In [ ]:
#7b
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first list is :" + str(list1))
print ("the second list is :" + str(list2))
sum1 = 0
sum2 = 0
for x in range(0, len(list1)):
    sum1 = sum1 + list1[x]
print ("sum of all elements in given list1 :", sum1)
for x in range(0, len(list2)):
   sum2 = sum2 + list2[x]   
print ("sum of all elements in given list2 :", sum2)
if ( sum1 == sum2):
   print ("list sum to same value") 
else:
   print("list are of different sum")

the first list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
sum of all elements in given list1 : 18
sum of all elements in given list2 : 15
list are of different sum

In [ ]:
#7c
list1 = [1, 2, 4, 3, 8]
list2 = [1, 2, 4, 3, 5]
print ("the first  list is :" + str(list1))
print ("the second list is :" + str(list2))
print ("the values occur in both lists :")
for x in list1:
   if(x in list1 and x in list2):
      print(x)

the first  list is :[1, 2, 4, 3, 8]
the second list is :[1, 2, 4, 3, 5]
the values occur in both lists :
1
2
4
3

In [ ]:
##8Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.[eg: onion -> oni$n]
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

In [ ]:
#9 Create a string from given string where first and last characters exchanged
a=input("Enter a string : ")
print("New string : ")
print(a[-1:] + a[1:-1] + a[0])

Enter a string : python
New string :
nythop

In [ ]:
#10 area circle
import math
r = float(input("Enter the radius of the circle: "))
area = math.pi* r * r
print("%.2f" %area)

Enter the radius of the circle: 6
113.10

In [ ]:
#11. Find biggest of 3 numbers entered.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
 
if (num1 > num2) and (num1 > num3):
   largest = num1
elif (num2 > num1) and (num2 > num3):
   largest = num2
else:
   largest = num3
 
print("The largest number is",largest)

Enter first number: 10
Enter second number: 12
Enter third number: 14
The largest number is 14.0

In [ ]:
#12 Accept a file name from user and print extension of that
filename = input("Enter the Filename : ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Enter the Filename : sort.html
The extension of the file is : 'html'

In [ ]:
##13. Create a list of colors from comma-separated color names entered by user. Display first and last colors.
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [ ]:
##14 compute n+nn+nnn
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [ ]:
##15 Print out all colors from color-list1 not contained in color-list2.
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'White', 'Black'}

In [ ]:
##16Create a single string separated with space from two strings by swapping the character at position 1.
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('abc', 'xyz'))

xyc abz

In [ ]:
#17 sort ascending or descending
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in ascending order by value :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [ ]:
#18 merge 2 dictonery
dict1 = {"a":100 ,"b":200}
dict2 = {"x":300 ,"y":400}
newdict = dict1.copy()
newdict.update(dict2)
print("Merged dictionary : " , newdict)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
#19 gcd of 2 number
import math 
  
# prints 12 
print("The gcd of 60 and 48 is : ", end="") 
print(math.gcd(60, 48))

The gcd of 60 and 48 is : 12

In [ ]:
#20 list of even integer
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]